* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    max-width: 1440px;
    width: 100%;
    padding: 0 20px;
    font-family: "Rubik", sans-serif;
    margin: 0 auto;
    color: #000;
}

.header {
    background-color: #fff;
    margin: 45px 0;
}

.list-navbar {
    font-size: 16px;
    line-height: 19px;
    color: #4f5665;
    list-style-type: none;
    display: flex;
    column-gap: 40px;
}

.box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-lasles-vpn {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.group-sign-in-cta {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.name-logo {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #0b132a;
}

.vpn {
    font-weight: 700;
}

.sign-in {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #0b132a;
}

.cta-sign-up {
    font-weight: 600;
    line-height: 19px;
    border: 1px solid #f53855;
    padding: 13px 45px;
}

.box-1 {
    display: flex;
    margin: 88px 0;
    column-gap: 40px;
    flex-wrap: wrap;
    align-items: center;
}

.title-section {
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    color: #0b132a;
}

.box-text {
    flex: 1;
}

.content {
    max-width: 1140px;
    margin: 0 auto;
}

.bold {
    font-weight: 700;
}

.paragraph {
    font-size: 16px;
    line-height: 30px;
    color: #4f5665;
    margin: 20px 0 50px 0;
}

.bold-laslesvpn {
    font-weight: 500;
}

.cta-get-started {
    background: #f53838;
    border-radius: 10px;
    font-size: 16px;
    line-height: 25px;
    color: #ffffff;
    border: none;
    padding: 15px 0;
    font-weight: 700;
}

.icon-menu {
    width: 5%;
    display: none;
}

.user {
    font-size: 20px;
    line-height: 30px;
    color: #4f5665;
}

.number {
    font-size: 25px;
    line-height: 30px;
    color: #0b132a;
    font-weight: 700;
}

.none {
    display: none;
}

.user {
    display: grid;
    row-gap: 5px;
}

.box-user {
    display: flex;
    column-gap: 36px;
    flex: 1;
    padding: 25px 0 25px 0;
}

.left {
    display: flex;
    justify-content: flex-end;
}

.border-user {
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 34px 38px -28px rgba(0, 0, 0, 0.09);
    padding: 25px 57px 25px 57px;
    position: relative;
    border-radius: 10px;
}

.border-right-left {
    border-right: 2px solid #eeeff2;
    border-left: 2px solid #eeeff2;
    flex: 1.5;
    justify-content: center;
}

.box-features {
    display: flex;
    justify-content: center;
    margin: 110px 0 130px 0;
    align-items: flex-end;
    column-gap: 170px;
    flex-wrap: wrap;
}

.title-features {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0b132a;
}

.group-box {
    display: flex;
    grid-gap: 50px;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

.box-free-plan {
    padding: 80px 76px 50px;
    background: #ffffff;
    border: 2px solid #dddddd;
    border-radius: 10px;
    display: grid;
}

.cta-select {
    border: 2px solid #f53838;
    border-radius: 50px;
    padding: 13px 0;
}

.free-plan {
    margin: 30px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #0b132a;
}

.center-image {
    display: flex;
    justify-content: center;
}

.free {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #0b132a;
    margin-bottom: 20px;
}

.price {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #4f5665;
}


/*before icon*/

.icon-item::before {
    content: url(images/icon-checked.png);
    position: relative;
    top: 5px;
    margin-right: 12px;
}

.icon-checked::before {
    content: url(images/checked.png);
    position: relative;
    top: 5px;
    margin-right: 12px;
}


/*before icon*/

.features-list {
    list-style-type: none;
    font-size: 14px;
    line-height: 30px;
    color: #4f5665;
}

.spacing-item-1 {
    row-gap: 15px;
    display: grid;
}

.spacing-item-2 {
    row-gap: 10px;
    display: grid;
}

.features-text {
    flex: 1;
}

.position {
    width: 95%;
}

.spacing {
    margin: 20px 0 20px 0;
}

.image-illustration {
    display: flex;
    width: 100%;
}

.choices {
    background-image: linear-gradient(#f6f6f6, #ffffff);
    padding: 80px 0 150px 0;
}

.spacing-paragraph {
    width: 50%;
}

.choices-text {
    text-align: center;
}

.center-paragraph {
    display: flex;
    justify-content: center;
}

.spaicing-paragraph {
    width: 40%;
}

.free-spacing {
    margin-top: 130px;
}

.price-9 {
    margin-top: 90px;
}

.price-12 {
    margin-top: 50px;
}

.box-map {
    margin: 105px 0 110px 0;
    position: relative;
}

.image-map {
    display: none;
}

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.spacing-title {
    width: 40%;
}

.box-tweets {
    margin: 47px 0 0 0;
}

.customer {
    row-gap: 5px;
    display: grid;
}

.box-customer-image {
    display: flex;
    display: grid;
    align-items: center;
    grid-template-columns: 0.9fr 2fr 0.5fr;
}

.box-customer {
    display: flex;
    align-items: center;
}

.customer-name {
    font-weight: 500;
    font-size: 18px;
    color: #0b132a;
}

.customer-location {
    font-size: 14px;
    color: #4f5665;
}

.border-veiws {
    background: transparent;
    border: 2px solid #dddddd;
    border-radius: 10px;
    padding: 30px;
}

.box-veiws {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 50px;
}

.border-veiws {
    flex: 1;
}

.center-star {
    display: flex;
    column-gap: 11px;
}

.paragraph-veiws {
    font-size: 16px;
    line-height: 30px;
    color: #0b132a;
    margin-top: 20px;
}

.group-loading {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.loading-1 {
    width: 30px;
    height: 15px;
    background: #f53838;
    position: relative;
}

.loading-raduis {
    width: 15px;
    height: 15px;
    background: #f53838;
    border-radius: 50%;
    position: absolute;
}

.loading-left {
    left: 20px;
}

.loading-right {
    right: 20px;
}

.loading {
    width: 15px;
    height: 15px;
    background: #dde0e4;
    border-radius: 50%;
}

.arrow-left {
    border: 2px solid #f53838;
    background: transparent;
}

.arrow {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrow-right {
    background: #f53838;
    border: 2px solid #f53838;
}

.arrows {
    display: flex;
    column-gap: 20px;
}

.box-loading {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.subscribe {
    padding: 58px 70px;
    display: flex;
    justify-content: space-between;
    box-shadow: 14px 20px 51px rgba(0, 0, 0, 0.09);
    align-items: center;
    border-radius: 10px;
    flex-wrap: wrap;
    position: relative;
    top: 131px;
    background: #FFFFFF;
}

.paragraph-footer {
    margin: 26px 0 30px 0;
    width: 60%;
}

.box-image {
    flex: 1;
}

.title-subscribe {
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
    color: #0b132a;
    width: 55%;
}

.icons {
    display: flex;
    column-gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}

.box-footer {
    display: flex;
    flex-wrap: wrap;
}

.list {
    list-style-type: none;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    flex: 1;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
}

.icon-background {
    display: flex;
    justify-content: center;
    background: #F53838;
    border-radius: 50%;
    width: 28.6px;
    height: 30px;
    align-items: center;
}

.box-footer-icon {
    flex: 3;
}

.item-bold {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
    margin-bottom: 10px;
}

.item {
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.paragraph-subscribe {
    font-size: 16px;
    line-height: 30px;
    color: #4f5665;
}

.box-subscribe-left {
    display: grid;
    row-gap: 20px;
}

.cta-width {
    width: 50%;
}

.box-subscribe-right {
    width: 25%;
}

.cta-subscribe-now {
    width: 100%;
}

.footer {
    background: #F8F8F8;
    padding: 180px 0 100px 0;
}

.color {
    color: #AFB5C0;
}


/*shape oval*/

.oval-sizing-1 {
    width: 34.87px;
    height: 34.87px;
}

.spasing-oval-1 {
    top: 164px;
    left: 550px;
}

.spacing-oval-2 {
    top: 279px;
    left: 567px;
}

.spacing-oval-3 {
    top: 380px;
    left: 555px;
}

.spacing-oval-4 {
    top: 270px;
    left: 478px;
}

.spacing-oval-5 {
    top: 366px;
    left: 366px;
}

.oval-sizing-2 {
    width: 28.7px;
    height: 28.7px;
    border: 3px solid #f53838;
}

.oval-sizing-3 {
    width: 12.58px;
    height: 12.58px;
}

.oval-1 {
    position: absolute;
    background: #ffffff;
    box-shadow: 0px 9.85244px 9.85244px rgba(135, 135, 135, 0.14);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.oval-2 {
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oval-3 {
    background: #f53838;
    border-radius: 50%;
    border-radius: 50%;
}

.oval-sizing-4 {
    width: 43.39px;
    height: 43.39px;
}

.oval-sizing-5 {
    width: 35.71px;
    height: 35.71px;
    border: 3.06492px solid #f53838;
}

.oval-sizing-6 {
    width: 15.65px;
    height: 15.65px;
}

.oval-sizing-7 {
    width: 36.74px;
    height: 36.74px;
}

.oval-sizing-8 {
    width: 30.24px;
    height: 30.24px;
    border: 3px solid #f53838;
}

.oval-sizing-9 {
    width: 13.25px;
    height: 13.25px;
}

.oval-sizing-10 {
    width: 25.62px;
    height: 25.62px;
}

.oval-sizing-11 {
    width: 21.09px;
    height: 21.09px;
    border: 3px solid #f53838;
}

.oval-sizing-12 {
    width: 9.24px;
    height: 9.24px;
}

.oval-sizing-13 {
    width: 16.98px;
    height: 16.98px;
}

.oval-sizing-14 {
    width: 13.97px;
    height: 13.97px;
    border: 1px;
    border: 2px solid #f53838;
}

.oval-sizing-15 {
    width: 6.12px;
    height: 6.12px;
}

.spasing-oval-6 {
    left: 320.86px;
    top: 369.91px;
}

.spacing-oval-7 {
    top: 444px;
    left: 293px;
}

.spacing-oval-8 {
    top: 317px;
    left: 280px;
}

.spacing-oval-9 {
    top: 353px;
    left: 816px;
}

.spacing-oval-10 {
    top: 409px;
    left: 844px;
}

.spacing-oval-11 {
    top: 440px;
    left: 919px;
}

.spacing-oval-12 {
    top: 237px;
    left: 717px;
}

.spacing-oval-13 {
    top: 225px;
    left: 798px;
}

.spacing-oval-14 {
    top: 142px;
    left: 751px;
}

.spacing-oval-15 {
    top: 108px;
    left: 518px;
}

.spasing-oval-16 {
    top: 126px;
    left: 663px;
}

.spacing-oval-16 {
    top: 73px;
    left: 732px;
}

.spacing-oval-17 {
    top: 101px;
    left: 876px;
}

.spacing-oval-18 {
    top: 87px;
    left: 991px;
}

.spacing-oval-19 {
    top: 149px;
    left: 170px;
}

.spacing-oval-20 {
    top: 234px;
    left: 185px;
}

.spacing-oval-21 {
    top: 199px;
    left: 239px;
}

.spacing-oval-22 {
    top: 94px;
    left: 190px;
}

.spacing-oval-23 {
    top: 87px;
    left: 118px;
}

.spacing-oval-24 {
    top: 97px;
    left: 34px;
}

.spacing-oval-25 {
    top: 132px;
    left: 282px;
}

.spasing-oval-26 {
    top: 32px;
    left: 353px;
}

.spacing-oval-27 {
    top: 0px;
    left: 267px;
}

.spacing-oval-28 {
    top: 21px;
    left: 408px;
}

.spacing-oval-29 {
    top: 98px;
    left: 357px;
}


/*shape oval*/


/*
.border-user:before {
    content: '';
    position: absolute;
    top: 200px;
    left: 30px;
    width: 1068px;
    height: 2px;
    box-shadow: 10px 13px 50px 2px #3c3c41;
    background: transparent;
}
/*


/*hover*/

.cta-sign-up:hover {
    background: #f53838;
    color: #ffffff;
}

.item:hover {
    color: #f53838;
}

.box-free-plan:hover {
    border: 2px solid #f53838;
}

.cta-select:hover {
    background: #f53838;
    color: #ffffff;
    box-shadow: 3px 27px 30px rgba(245, 56, 56, 0.35);
}

.cta-get-started:hover {
    box-shadow: 1px 30px 30px rgba(245, 56, 56, 0.35);
}

.border-veiws:hover {
    border: 2px solid #f53838;
}

.arrow-left:hover {
    box-shadow: 0px 14px 44px rgba(14, 20, 34, 0.08);
}

.arrow-right:hover {
    box-shadow: 0px 14px 44px rgba(14, 20, 34, 0.08);
}


/*hover*/


/*sizing phone*/

@media only screen and (max-width: 768px) {
    .list-navbar {
        display: none;
    }
    .icon-menu {
        width: 25px;
        display: flex;
    }
    .group-sign-in-cta {
        display: none;
    }
    .header {
        margin: 25px 0;
    }
    .box-image {
        margin: 40px 0 20px 0;
    }
    .image-illustration-2 {
        width: 100%;
    }
    .title-section {
        font-size: 45px;
        line-height: 65px;
    }
    .paragraph {
        font-size: 16px;
        line-height: 30px;
        color: #4f5665;
        margin: 10px 0 40px 0;
    }
    .cta-get-started {
        padding: 15px 15px;
    }
    .box-1 {
        display: flex;
        margin: 20px 0 40px 0;
        column-gap: 40px;
        flex-wrap: wrap;
        align-items: center;
    }
    .border-user {
        background: #ffffff;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 14px 20px 51px rgba(0, 0, 0, 0.09);
        padding: 40px 50px 25px 35px;
        row-gap: 30px;
    }
    .box-features {
        margin: 50px 0 60px 0;
        align-items: center;
        column-gap: 170px;
    }
    .title-features {
        font-size: 30px;
        line-height: 45px;
    }
    .position {
        width: none;
        margin: 20px 0 20px 0;
    }
    .spaising {
        margin: 15px 0 15px 0;
    }
    .border-user {
        box-shadow: 4px 9px 91px rgba(0, 0, 0, 0.09);
    }
    .choices {
        background-image: linear-gradient(#f6f6f6, #ffffff);
        padding: 60px 0 80px 0;
    }
    .spacing-paragraph {
        width: 80%;
    }
    .free-spacing {
        margin-top: 60px;
    }
    .price-9 {
        margin-top: 40px;
    }
    .price-12 {
        margin-top: 30px;
    }
    .box-free-plan {
        padding: 50px 50px 50px;
    }
    .box-map {
        display: none;
    }
    .image-map {
        display: flex;
    }
    .image-map-2 {
        width: 100%;
    }
    .spacing-title {
        width: 100%;
    }
    .arrow {
        width: 40px;
        height: 40px;
    }
    .subscribe {
        padding: 40px;
    }
    .title-subscribe {
        width: 100%;
    }
    .box-subscribe-right {
        width: 100%;
        margin-top: 30px;
    }
    .list {
        padding: 40px;
    }
    .box-footer-icon {
        padding: 40px;
    }
    .paragraph-footer {
        width: 100%;
    }
    .postion-text {
        width: auto;
    }
    .logos {
        justify-content: center;
    }
    .left {
        display: flex;
        justify-content: center;
    }
    .box-user {
        display: flex;
        justify-content: end;
    }
    .border-right {
        border-right: none;
        border-left: none;
    }
    .box-user {
        padding: 15px 0 15px 0;
    }
    .none {
        display: block;
    }
    .cta-width {
        width: 100%;
    }
    .image {
        width: none;
    }
    .border-right-left {
        border-right: none;
        border-left: none;
    }
    .box-text {
        flex: auto;
    }
    .arrows {
        column-gap: 10px;
    }
}


/*sizing phone*/


/* communs*/

.cta {
    cursor: pointer;
    font-size: 16px;
    border-radius: 50px;
    background: transparent;
    color: #f53838;
}

.image {
    display: flex;
    width: 100%;
}


/* communs*/